./downloads/torch-2.3.0-cp310-cp310-linux_aarch64.whl
./downloads/torchvision-0.18.0-cp310-cp310-linux_aarch64.whl
./downloads/torchaudio-2.3.0-cp310-cp310-linux_aarch64.whl
branca==0.8.1
certifi==2025.6.15
charset-normalizer==3.4.2
click==8.2.1
coloredlogs==15.0.1
contourpy==1.3.2
cycler==0.12.1
ensemble-boxes==1.0.9
filelock==3.18.0
flatbuffers==25.2.10
folium==0.20.0
fonttools==4.58.5
fsspec==2025.5.1
geographiclib==2.0
geopy==2.4.1
gpxpy==1.6.2
humanfriendly==10.0
idna==3.10
Jinja2==3.1.6
kiwisolver==1.4.8
llvmlite==0.44.0
MarkupSafe==3.0.2
matplotlib==3.10.3
mpmath==1.3.0
networkx==3.4.2
numba==0.61.2
numpy==1.26.4
onnxruntime-gpu @ https://github.com/ultralytics/assets/releases/download/v0.0.0/onnxruntime_gpu-1.20.0-cp310-cp310-linux_aarch64.whl
packaging==25.0
pandas==2.3.1
pillow==11.3.0
protobuf==3.20.3
psutil==7.0.0
py-cpuinfo==9.0.0
pyparsing==3.2.3
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
requests==2.32.4
scipy==1.15.3
six==1.17.0
sympy==1.13.1
tqdm==4.67.1
typing_extensions==4.14.1
tzdata==2025.2
ultralytics==8.3.163
ultralytics-thop==2.0.14
urllib3==2.5.0
xyzservices==2025.4.0
